@media (max-width: 1024px) {
  .about {
    width: 200%;
  }

  .philosophy {
    width: 220%;
  }

  .concept {
    width: 220%;
  }
}

@media (max-width: 768px) {
  .about {
    margin-top: 20px;
    width: 100%;
  }

  .about-box {
    text-align: center;
    padding-top: 33px;
    gap: 0px;
    margin-top: 110px;
    width: 657px;
    height: 326px;
  }

  .about-box-txt {
    font-size: 12px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: -0.1px;
    width: 654px;
    height: 140px;
  }

  .about-cont {
    flex-direction: column;
    align-items: center;
  }

  .about-img {
    position: absolute;
    width: 614px;
    height: 415px;
    right: 9px;
  }

  .philosophy {
    width: 100%;
    margin-top: 121px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .philosophy-title {
    text-align: center;
    width: 377px;
    font-size: 48px;
    line-height: 56px;
  }

  .philosophy-box-txt {
    text-align: center;
    font-size: 21px;
  }

  .philosophy-box {
    border-radius: 30px;
    margin: 93px 20px 113px;
  }
  .philosophy-content-box {
    width: 700px;
  }

  .philosophy-content {
    flex-direction: column;
    margin-bottom: 8px;
    align-items: center;
  }

  .philosophy-content-box-bg {
    background: none;
  }

  .philosophy-content-box-mob {
    background: rgba(255, 255, 255, 0.1);
  }

  .concept-box {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .concept {
    width: 100%;
  }

  .concept-title {
    text-align: center;
    font-size: 34px;
    font-weight: 700;
    line-height: 46px;
    letter-spacing: 0.5px;
    margin-bottom: 34px;
  }

  .concept-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
    margin-right: 0;
  }

  .concept-txt {
    text-align: center;
    font-size: 17px;
    line-height: 170%;
    letter-spacing: -0.2px;
    width: 639px;
  }

  .concept-wrap-img {
    width: 237px;
    height: 240px;
    position: absolute;
    margin-bottom: 150px;
    right: 266px;
  }

  .concept-wrap-txt {
    font-size: 11px;
    line-height: 138%;
    width: 124px;
    letter-spacing: 0.7px;
  }
  .concept-wrap-txt-1 {
    top: 0px;
    right: 74px;
  }

  .concept-wrap-txt-2 {
    font-family: gothampro_italic;
    font-weight: bold;
    top: 159px;
    left: -77px;
  }

  .concept-wrap-txt-3 {
    top: 144px;
    left: 103px;
    margin-bottom: 202px;
  }

  .concept-wrap-txt-4 {
    width: 76px;
    top: -265px;
    left: 141px;
  }
}

@media (max-width: 500px) {
  .about {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
  }

  .about-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .about-box {
    height: 421px;
    width: 363px;
    margin-top: 88px;
    padding: 10px 10px;
  }
  .about-box-txt {
    text-align: center;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.1px;
    width: auto;
    height: auto;
  }

  .about-img {
    display: none;
  }

  .philosophy {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .philosophy-title {
    text-align: center;
    font-size: 26px;
    line-height: 36px;
    letter-spacing: 0.5px;
    width: 271px;
    height: 159px;
  }

  .philosophy-box {
    text-align: center;
    width: 300px;
    margin: 0px 40px 73px;
  }

  .philosophy-box-txt {
    font-size: 17px;
    line-height: 29px;
    padding: 25px 35px;
  }

  .philosophy-content {
    margin: 0 15px;
    justify-content: center;
  }

  .philosophy-content-box {
    width: 345px;
    height: 300px;
    display: flex;
    padding: 17px 14px;
  }

  .philosophy-content-title {
    text-align: center;
    font-size: 25px;
    line-height: 27px;
  }

  .philosophy-content-wrap {
    margin-left: 12px;
    width: 262px;
  }

  .philosophy-content-txt {
    text-align: center;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.2px;
  }

  .philosophy-num {
    width: 28px;
    height: 26px;
    border-radius: 52px;
    background: rgb(251, 223, 0);
  }

  .philosophy-num-txt {
    font-size: 18px;
  }

  .concept-title {
    width: 230px;
    font-size: 26px;
  }

  .concept-txt {
    width: 294px;
  }

  .concept-wrap-img {
    right: 80px;
  }
}
