@font-face {
  font-family: gothampro_regular;
  src: local("gothampro_regular"), local("gothampro_regular"), url(../fonts/GothamPro.woff2) format("woff2"), url(../fonts/GothamPro.woff) format("woff");
}
@font-face {
  font-family: gothampro_black;
  src: local("gothampro_black"), local("gothampro_black"), url(../fonts/GothamPro-Black.woff2) format("woff2"), url(../fonts/GothamPro-Black.woff) format("woff");
}
@font-face {
  font-family: gothampro_bold;
  src: local("gothampro_bold"), local("gothampro_bold"), url(../fonts/GothamPro-Bold.woff2) format("woff2"), url(../fonts/GothamPro-Bold.woff) format("woff");
}
@font-face {
  font-family: gothampro_italic;
  src: local("gothampro_italic"), local("gothampro_italic"), url(../fonts/GothamPro-Italic.woff2) format("woff2"), url(../fonts/GothamPro-Italic.woff) format("woff");
}
@font-face {
  font-family: kaufmann_bt;
  src: url("../fonts/KAUFMANN.TTF") format("truetype");
}
@font-face {
  font-family: gothampro-medium;
  src: local("gothampro-medium"), local("gothampro-medium"), url(../fonts/gothampro-medium.woff2) format("wott2"), url(../fonts/gothampro-medium.woff) format("woff");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #020202;
  color: rgb(254, 254, 254);
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: rgb(254, 254, 254);
}

.yellow-span {
  color: rgb(251, 223, 0);
}

.center {
  padding-left: calc(50% - 746px);
  padding-right: calc(50% - 746px);
}

.btn-up {
  background-repeat: no-repeat;
  background-position: cen;
}

@media (max-width: 2800px) {
  .main {
    margin-top: 1400px;
  }
}
@media (min-width: 1440px) and (max-width: 1919px) {
  .header {
    padding: 20px 50px;
    width: 100%;
    justify-content: space-between;
  }
  .header-logo {
    width: 200px;
  }
  .nav-list {
    justify-content: space-evenly;
    font-size: 15px;
    margin: 0;
  }
  .header-btn {
    font-size: 13px;
    width: 182px;
    height: 56px;
  }
  .top-content-title {
    margin-left: 150px;
  }
  .top-content-slogan {
    margin-left: 275px;
  }
  .top-content-text {
    width: 1096px;
    font-size: 15px;
    margin-left: 150px;
  }
  .top-content-btn {
    margin-left: 150px;
    width: 239px;
    height: 64px;
  }
  .polygon {
    margin-left: 50px;
  }
  .polygon-top {
    margin-left: 50px;
  }
  .top {
    width: 100%;
  }
  .main {
    width: 100%;
    margin-top: 1343px;
  }
  .main-title {
    margin-left: 100px;
    font-size: 59px;
    line-height: 20px;
    letter-spacing: 0.3px;
  }
  .main-box {
    padding: 181px 116px;
    gap: 40px 36px;
  }
  .main-box-text {
    width: 275px;
    font-size: 17px;
  }
  .main-box-cur {
    width: 378px;
    height: 268px;
  }
  .main-img-orig {
    width: 379px;
    height: 263px;
  }
  .form {
    width: 100%;
  }
  .footer {
    width: 100%;
  }
  .footer-box {
    display: flex;
    justify-content: space-between;
    margin: 0 50px;
  }
  .footer-icon {
    margin-right: 50px;
  }
  .footer-num {
    font-size: 30px;
  }
  .footer-info-txt {
    font-size: 12px;
    line-height: 22px;
  }
  .footer-info {
    margin-left: 100px;
  }
  .footer-info-box {
    gap: 13px;
    width: 291px;
  }
  .footer-log {
    margin: 40px 50px;
  }
}
@media (max-width: 1024px) {
  .header {
    justify-content: space-between;
    padding: 25px 50px 0;
  }
  .header-logo {
    width: 150px;
  }
  .header-btn {
    font-size: 11px;
    line-height: 17px;
    width: 157px;
    height: 45px;
  }
  .nav-list {
    margin-left: 0px;
    margin-right: 0px;
    font-size: 9px;
    width: 534px;
  }
  .top {
    height: 1047px;
    background-position: -17%;
  }
  .top-content {
    margin-top: 220px;
    padding: 0 50px;
  }
  .top-content-text {
    font-size: 9px;
    width: 749px;
    line-height: 19px;
  }
  .top-content-slogan {
    font-size: 25px;
    font-weight: 400;
    line-height: 19px;
  }
  .top-content-title {
    font-size: 47px;
    line-height: 51px;
    width: 389px;
  }
  .top-content-btn {
    width: 227px;
    height: 60px;
    font-size: 16px;
    line-height: 6px;
    letter-spacing: 2px;
    margin-bottom: 87px;
  }
  .main {
    padding: 0 50px;
    margin-top: 1040px;
    margin-bottom: 40px;
  }
  .main-title {
    font-size: 35px;
    width: 728px;
  }
  .main-box {
    gap: 27px 22px;
    padding: 19px 32px;
  }
  .main-box-cur {
    width: 418px;
  }
  .main-img-orig {
    width: 418px;
    height: 264px;
  }
  .main-box-text {
    font-size: 15px;
    line-height: 22px;
  }
  .polygon {
    margin-left: 50px;
    width: 18px;
  }
  .polygon-top {
    margin-left: 50px;
    width: 18px;
  }
  .polygon-course {
    margin-left: 0;
  }
  .polygon-tutor {
    margin-left: 0px;
  }
  .form {
    padding: 0 50px;
    margin-bottom: 20px;
  }
  .form-text {
    font-size: 36px;
    font-weight: 700;
    line-height: 61px;
    width: 700px;
  }
  .form-pol {
    width: 625px;
    text-align: center;
    font-size: 24px;
  }
  .form-box {
    gap: 40px;
    padding: 60px 0 60px;
  }
  .form-box-data {
    width: 859px;
    height: 60px;
  }
  .form-btn {
    width: 283px;
    height: 60px;
  }
  .footer {
    padding: 0 20px;
  }
  .fooret-img {
    height: 145px;
    width: 100px;
  }
  .footer-box {
    display: flex;
    justify-content: space-between;
  }
  .footer-log {
    margin: 28px 0 70px;
  }
  .footer-info-txt {
    font-size: 9px;
    font-size: 11px;
  }
  .footer-info-box {
    gap: 14px;
  }
  .footer-num {
    font-size: 15px;
    font-weight: 400;
    line-height: 15px;
  }
  .footer-icon-img {
    width: 50px;
  }
}
@media (min-width: 840px) and (max-width: 960px) {
  .header-logo {
    width: 114px;
  }
  .header-btn {
    font-size: 9px;
    line-height: 17px;
    width: 139px;
    height: 34px;
  }
  .nav-list {
    font-size: 8px;
    width: 447px;
  }
  .main-img-orig {
    width: 337px;
    height: 211px;
  }
  .main-box-cur {
    height: 214px;
    width: 338px;
  }
  .main-box {
    gap: 15px 15px;
  }
  .form-box-data {
    width: 715px;
  }
  .footer-info-txt {
    font-size: 8px;
  }
  .fooret-img {
    width: 96px;
    height: 152px;
  }
}
@media (max-width: 768px) {
  .header {
    padding: 20px 38px 0 20px;
    width: 100%;
    position: relative;
    z-index: 1000000;
  }
  .header-logo {
    width: 180px;
  }
  .mobile-btn {
    display: block;
    position: absolute;
    right: 40px;
    top: 28px;
    cursor: pointer;
    z-index: 10;
  }
  .nav-list {
    overflow: hidden;
    width: auto;
    flex-direction: column;
    align-items: center;
    position: fixed;
    justify-content: center;
    left: -100%;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    background-color: #020202;
    z-index: 10;
    transition: left 1s;
    font-size: 18px;
    gap: 32px;
  }
  .active {
    left: 0;
  }
  .top {
    background-position: 0%;
    height: 1044px;
    padding-top: 50px;
    width: 100%;
  }
  .top-content {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .top-content-title {
    font-size: 23px;
    width: 222px;
    line-height: 40px;
    margin-right: 320px;
  }
  .header-btn {
    display: none;
  }
  .header {
    flex-wrap: wrap;
  }
  .top-content-text {
    width: 357px;
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 1px;
  }
  .top-content-text-1 {
    margin-top: 85px;
  }
  .top-content-text-2 {
    margin-top: 20px;
    margin-bottom: 70px;
  }
  .top-content-slogan {
    font-size: 22px;
    line-height: 29px;
    margin-top: 15px;
    margin-left: -50px;
  }
  .top-content-btn {
    width: 231px;
    height: 60px;
    padding: 28px 37px 28px 37px;
    font-size: 15px;
    line-height: 6px;
    margin-bottom: 48px;
  }
  .polygon {
    margin-left: 70px;
  }
  .polygon-top {
    height: 20px;
    margin-left: 70px;
  }
  .polygon-course {
    margin-left: 50px;
  }
  .polygon-tutor {
    margin-left: 0px;
  }
  .main {
    display: flex;
    width: 100%;
    margin-top: 1000px;
    flex-direction: column;
    align-items: center;
  }
  .main-title {
    font-size: 34px;
    line-height: 47px;
    letter-spacing: 0px;
    text-align: center;
    margin: 0;
  }
  .main-box {
    width: 657px;
    padding: 43px 10px;
    gap: 18px 18px;
    justify-content: center;
  }
  .main-box-text {
    font-size: 17px;
    width: 210px;
    line-height: 24px;
    letter-spacing: 0.1px;
  }
  .main-box-cur {
    width: 300px;
    height: 182px;
  }
  .main-img-orig {
    width: 300px;
    height: 182px;
  }
  .form {
    width: 100%;
    margin: 50px 0 10px;
  }
  .form-text {
    width: 362px;
    height: 122px;
    font-size: 29px;
    line-height: 33px;
    letter-spacing: 2px;
  }
  .form-box {
    gap: 20px;
    padding: 40px 0 68px;
  }
  .form-box-data {
    font-size: 12px;
    width: 490px;
    height: 46px;
  }
  .form-btn {
    width: 231px;
    height: 60px;
    padding: 28px 37px 28px 37px;
    font-size: 15px;
    line-height: 6px;
  }
  .form-checkbox-year {
    width: 23px;
    height: 23px;
    border-radius: 5px;
    margin-right: 12px;
  }
  .form-checkbox-year::after {
    content: "";
    width: 22px;
    height: 28px;
    background-size: 20px 20px;
  }
  .form-pol {
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    text-align: center;
    width: 316px;
  }
  .footer {
    width: 100%;
    margin-top: 60px;
  }
  .fooret-img {
    display: none;
  }
  .footer-info {
    gap: 45px;
    text-align: center;
    margin: 0 0 20px 15px;
  }
  .footer-info-box {
    gap: 11px;
    justify-content: space-around;
    width: 175px;
  }
  .footer-info-txt {
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 0.2px;
  }
  .footer-box {
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
  }
  .footer-info-num {
    align-items: center;
    gap: 15px;
    margin-bottom: 15px;
    margin-left: 35px;
  }
  .footer-num {
    line-height: 20px;
    font-size: 20px;
  }
  .footer-icon {
    justify-content: center;
  }
  .footer-icon-img {
    width: 50px;
  }
  .footer-log {
    flex-direction: column;
  }
  .footer-log-txt {
    font-size: 15px;
    font-weight: 400;
    line-height: 10px;
    letter-spacing: -0.2px;
  }
}
@media (max-width: 500px) {
  .header {
    padding: 20px 20px;
  }
  .top {
    background-size: 680px 736px;
    height: 735px;
  }
  .main {
    margin-top: 877px;
  }
  .main-box-cur {
    width: 320px;
    height: 258px;
  }
  .main-img-orig {
    width: 318px;
    height: 227px;
  }
  .main-box {
    width: 358px;
    padding: 43px 20px;
    flex-direction: column;
    align-items: center;
  }
  .top-content {
    margin-top: 90px;
    padding: 0;
  }
  .top-content-title {
    margin-right: 92px;
  }
  .top-content-text {
    width: 316px;
    font-size: 13px;
    line-height: 26px;
  }
  .top-content-text-1 {
    margin-top: 55px;
  }
  .top-content-text-2 {
    margin-top: 20px;
    margin-bottom: 55px;
  }
  .top-content-slogan {
    margin-left: 22px;
    font-size: 16px;
    line-height: 4px;
    letter-spacing: 1px;
  }
  .form-box-data {
    width: 308px;
  }
  .form-text {
    width: 309px;
    font-size: 20px;
    margin-bottom: 35px;
  }
  .footer-log {
    flex-direction: column;
  }
  .main-title {
    font-size: 28px;
    width: 300px;
  }
  .footer-info {
    margin: 0 0 18px 0px;
  }
  .footer-info-box {
    width: 169px;
  }
  .footer-info {
    gap: 3px;
  }
  .polygon {
    margin-left: 30px;
    width: 19px;
  }
  .footer-icon {
    margin: 0;
  }
}/*# sourceMappingURL=style.css.map */